@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Franklin:wght@300;700&display=swap');

.fondo{
    background-color: #0D1117;
    margin: 0;
    padding: 0; 
}

.nombre p{
    color: white;
}

header{
    display:flex;
    flex-direction: row;
    position:relative;
    justify-content: space-between;
    background-color: #010409;
    width: 100%;
    align-items: center;
}

header p{
    font-size: 20px; 
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 20px;
}

.logo img{
    width: 50px;
}

.container-fluid{
display: flex;
justify-content: center;
}

.d-flex{
    width: 50%;
}

.notif svg{
    width:50px;
}

.notif {
    display: flex;
    justify-content:end;
    text-align:right;
}

.barraSup{
    display:flex;
    justify-content: center; 
}

nav ul{
    background-color:#202C33;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

nav li{
    margin: 10px;
}

nav a{
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}
.main p{
    color: #D9EDF3;
}
.main h4{
    color: #D9EDF3;
}

.mainIzquierda{ 
    display: inline-block; 
    width: 50%; height: 2%;
    display:flex;
    flex-direction:column;
    margin: 5px;
}

.mainDerecha{
    display:flex;
    flex-direction:column;
    width: 50%; height: 2%;
    margin: 5px;
}

.mainIzquierda .seccionInferior,
.mainIzquierda .seccionSuperior {
    background-color: #111D2F;
    margin: 10px 0px 0px 40px;
    border: 3px solid #202C33; 
    margin: 5px;
    padding: 5px;
}

.mainDerecha .LateralSuperior,
.mainDerecha .LateralMedia,
.mainDerecha .LateralInferior {
    display: inline-block; 
    background-color: #111D2F;
    width: 100%;
    display:flex;
    margin: auto;
    border: 3px solid #202C33; 
    margin: 5px;
    padding: 5px;
}



.noticia1Img{
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 70%;
    margin:auto;
}

.noticia2Img{
    display: flex;
    border: 2px solid black;
    width:40%;
    margin:auto;
    height: 50%;
}

.texto1{
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    padding: 2.5%;
}

.seccionInferior a{
    text-decoration: none;
}

.seccionSuperior a{
    text-decoration: none;
}

.campanita{
    color: white;
}

.usuario{
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#010409;
    margin: 20px 0 0 0;
}

footer p{
    font-size: 14px;
    color: rgb(240, 245, 248);
}