@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Franklin:wght@300;700&display=swap');

.fondo{
    background-color: #0D1117;
    margin: 0;
    padding: 0; 
}

.nombre p{
    color: white;
}

header{
    display:flex;
    flex-direction: row;
    position:relative;
    justify-content: space-between;
    background-color: #010409;
    width: 100%;
    align-items: center;
}

header p{
    font-size: 20px; 
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 20px;
}


.logo img{
    width: 50px;
}

.container-fluid{
display: flex;
justify-content: center;
}

.d-flex{
    width: 50%;
}

.notif svg{
    width:50px;
}

.notif {
    display: flex;
    justify-content:end;
    text-align:right;
}

.barraSup{
    display:flex;
    justify-content: center; 
}

nav ul{
    background-color:#202C33;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

nav li{
    margin: 10px;
}

nav a{
    text-decoration: none;
}


.main{
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.contenedor{
    background-color: #111D2F;
    display: inline-block; 
    width: 70%; height: 80%;
    display:flex;
    flex-direction:column;
    margin: 10px 0px 0px 40px;
    border: 3px solid #202C33;
    padding:5px;
}

.contenedor h2{
    color: white;
    margin: 5px;
    display: flex;
    justify-content: start;
}
.contenedor h5{
    color: white;
    margin: 5px;
    display: flex;
    justify-content: start;
    padding:5px;
}

.contenedor p{
    margin: 10px;
    padding: 6px;
}

.imagenNoticia{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 50%;
    margin: 10px 200px 0px 0px;
}

.imagenNoticia img{
    width: 70%;
    border: 5px solid #202C33;
}

.comentarios{
    border: 5px solid #202C33;
    width: 70%;
}

.comentarios form{
    background-color: white; 
}

.main p{
    color: #D9EDF3;
}

.comentarios p{
    color: black;
    font-size: 20px; 
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
}

.campanita{
    color: white;
}

.usuario{
    color: white;
}